<div class="loginBlock">
    <div class="container">
        <ul>
            <li>
                <input type="text" class="form-control" placeholder="User ID" id="uId">
            </li>
            <li>
                <input type="password" class="form-control" placeholder="Account Password" id="uPassword">
            </li>
            <!-- <li>
                <input type="password" class="form-control" placeholder="Rewrite Account Password" id="mailId">
            </li> -->
            <li>
                <input type="button" value="signup" class="btn btn-primary" id="loginBtn" onclick="registerNewUser()">
            </li>
            <li>
                <a href="#newSignup" onclick="loadSelectedPage('Login')" class="link-underline-primary">Login?</a>
                <a href="#forgotPwd" onclick="loadSelectedPage('forgotpwd')" class="link-underline-primary">Forgot Password</a>
            </li>      
            <li id="rblock">

            </li>  
        </ul>
    </div>
</div>
</div>